body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    color: #000000;
}

.erick{
  color: #74A12E;
}

#projects {
    padding: 20px;
  background-color: #74A12E
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color: #fff;
}

.once{
  color: #74A12E
}
