section{
  padding: 100px 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
  background-color: white;
  
}


#home{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.intro{
  font-size: 24px;
  color:black;
}

.name{
  font-size: 36px;
  font-weight: bold;
  color:  #74A12E;
}


#about{
  padding: 25px;
  padding-bottom: 100px;
  background-color: #74A12E;
}

.title{
  padding-top: 50px;
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  color: black;
  
}

.about .me{
  font-size: 25px;
  font-weight: 600;
  color: white ;
}

.about .occupation{
  color: white;
}

.about .ako{
  color: white;
  font-weight: 20;
  font-size: 12px;
}

